* {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h5 {
    text-align: center;
}

br {
    display: block;
    margin: 0 auto;
}

p {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word; 
}
